{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script>
    $(document).ready(function() {
                  setTimeout(function() {
                    $("#go").trigger('click');
                  }, 500);
                });
    </script>
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome, {{ user }}</a>
            </div>
            <div class="navbar-nav" style="float: right;">
                <a href="{% url 'registration:logout' %}" class="btn btn-outline-info" style="color: #000 !important;">Logout</a>
            </div>
        </div>
    </nav>
      <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="card card-3">
                <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Your Score: {{ score }}</h2>
                        <form method="post" action="{% url 'submit' %}">
                            {% csrf_token %}
                            <button id="go" type="submit" hidden class="btn btn-primary btn--pill" style="color:#000;">Submit</button>
                        </form>
                    </div>
            </div>
    </div>
{% endblock %}
