{% extends 'base.html' %}

{% load static %}

{% block content %}
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome, {{ user }}</a>
            </div>
            <div class="navbar-nav" style="float: right;">
                <a href="{% url 'registration:logout' %}" class="btn btn-outline-info" style="color: #000 !important;">Logout</a>
            </div>
        </div>
    </nav>
      <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="card card-3">
                <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Welcome to the {{ test_name }}</h2>
                        <form method="post" action="{% url 'start' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn--green btn--pill" >Take the Test</button>
                        </form>
                    </div>
            </div>
    </div>
{% endblock %}


