{% extends 'base.html' %}

{% load static %}

{% block content %}
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome, {{ user }}</a>
            </div>
            <div class="navbar-nav" style="float: right;">
                <a href="{% url 'registration:logout' %}" class="btn btn-outline-info" style="color: #000 !important;">Logout</a>
            </div>
        </div>
    </nav>
      <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="card card-3">
                <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Hey {{ user }}</h2>
                        <h3 class="title">
                           <br><br>It looks like you've attempted to navigate backward or reloading the page
                        </h3>
                    </div>
            </div>
    </div>
{% endblock %}