{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading" style="background: url({% static 'small - logo.png' %}) center no-repeat; height: 100%; width: 50%;"></div>
                <div class="card-body">
                    <h2 class="title">Hey There,</h2>
                    <h6 class="title">Please attempt this quiz using <strong>Google Chrome</strong> or <strong>Mozilla Firefox</strong> Only!</h6>
                    <a href="{% url 'registration:login' %}" class="btn btn-outline-info btn--pill" style="color: #1b1e21">Sign In</a>
                    <br><br><br>
                    <a href="{% url 'registration:register' %}" class="btn btn-outline-info btn--pill" style="color: #1b1e21">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
