{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Hey There,</h2>
                          <h3 class="title">Efkaries Quiz</h3>
                            <a href="{% url 'registration:login' %}" class="btn btn--green btn--pill">Sign In</a>
                            <br><br><br>
                            <a href="{% url 'registration:register' %}" class="btn btn--green btn--pill">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
