{% extends 'base.html' %}

{% load static %}

{% block content %}
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome, {{ user }}</a>
            </div>
            <div class="navbar-nav" style="float: right;">
                <a href="{% url 'registration:logout' %}" class="btn btn-outline-info" style="color: #000 !important;">Logout</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 col-sm-4">
            <h3 id="demo" class="badge-success" style="float: right;">
            <script>
                $(document).ready(function() {
                  setTimeout(function() {
                    $("#go").trigger('click');
                  }, 20000);
                });
              var deadline = new Date().getTime()+30000;
              var x = setInterval(function() {
                var now = new Date().getTime();
                var t = deadline - now;
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
                var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((t % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = "Your Test will start in: "+ seconds + "s ";
                if (t < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "All the best";
                }
              }, 1000);
            </script>
          </h3>
        </div>
    </div>
      <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="card card-3">
                <div class="card-heading">
                    <ul>
                        <li><strong>Do not refresh or press the back button</strong></li>
                        <li>This test is for 30 minutes after which you will be logged out automatically.</li>
                        <li>Feel free to hit the skip button if you find a question difficult, there will be no loss of marks.</li>
                    </ul>
                </div>
                <div class="card-body">
                    <h2 class="title">Instructions For the test</h2>
                    <form method="post" action="{% url 'test_start' %}">
                        {% csrf_token %}
                        <button id="go" type="submit" class="btn btn-success btn--pill" >All the best</button>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}
