{% extends 'base.html' %}

{% load static %}

  {% block content %}

      <script>
        document.addEventListener('visibilitychange', function(e) {
            if (document.hidden){
                document.getElementById("subform").innerHTML = "<input name=\"cheated\" id=\"cheated\" type='text' value=\"cheated\" hidden>";
                alert("Hey!! No Cheating, you switched your tab?\nYour score is set to 0\nThe organisers have been notified");
                   $("#go").trigger('click')
            }
        });
      </script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome, {{ user }}</a>
            </div>
            <div class="navbar-nav" style="float: right;">
                <a href="{% url 'registration:logout' %}" class="btn btn-outline-info" style="color: #000 !important;">Logout</a>
            </div>
        </div>
    </nav>
      <div class="row">
        <div class="col-md-6 col-sm-4">
          <h3>Your Score: {{ score }}</h3>
        </div>
        <div class="col-md-6 col-sm-4">
            <h3 id="demo" class="badge-success" style="float: right;">
            <script>
              var deadline = new Date("{{ time_left }}").getTime();
              var x = setInterval(function() {
                var now = new Date().getTime();
                var t = deadline - now;
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
                var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((t % (1000 * 60)) / 1000);
                document.getElementById("demo").innerHTML = hours + "h:" + minutes + "m:" + seconds + "s";
                if (t < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                  alert("Your time is Up!!");
                   $("#go").trigger('click')
                }
              }, 1000);
            </script>
            </h3>
        </div>
      </div>
      <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="card card-3">
                <div class="card-heading" style="background: url({{ ques }}) center no-repeat; height: 100%;"></div>
                <div class="card-body">
                    <h2 class="title">Question {{ num }}:</h2>
                    <form method="post" action="{% url 'next_ques' %}">
                        {% csrf_token %}
                        <input class="input--style-3" type="text" name="answer" placeholder="Enter your answer here" required>
                        <br><br>
                        <h5 class="title"><strong>Remember, answers are case sensitive!</strong></h5>
                        <br><br>
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </form>
                    <form method="post" action="{% url 'skip' %}">
                        {% csrf_token %}
                        <br><br><br>
                        <button class="btn btn--pill btn-outline-danger" type="submit">Skip</button>
                    </form>
                     <form method="post" action="{% url "submit" %}">
                        {% csrf_token %}
                         <div id="subform"></div>
                        <button id="go" type="submit" hidden class="btn btn-success btn--pill" >Submit</button>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}